    /* Universal Styles */

html {
    font-family: 'PT Sans';
    font-size: 16px;
    height: 100%;
    margin:0;
}

body {
    margin: 0;
}

main {
    text-align: center;
    width: 100%;
    background-color: #578CA9;
}

article:hover {
    background-color: #ccc;
    cursor: pointer;
} 

#theme {
    height: 100%;
    background-color: #578CA9;
}
  
.center {
    text-align: center;
}
  
.button {
    border-radius: 4px;
    background-color: #4a4a4a;
    color: white;
}

    /* Tablet Styling */
    
    @media only screen and (max-device-width: 768px) {
        .logo {
            display: none;
        }
    
        header {
            display: block;
            width: 100%;
        }
    
        header .content {
            padding-left: 0;
            padding-right: 0; 
            width: 100%;
        }
    
        nav {
            width: 100%;
        }
    
    
        ul {
            padding: 0;
            justify-content: space-around;
        }
    
        .content li {
            padding: 0;
        }
    }
        
        /* Phone Styling */
        
    @media only screen and (max-device-width: 425px) {
        
    
    }


    /* Body Styles */

#blog-container {
    width: 75%;
    margin: 2rem auto;
}

.blog-item {
    background-color: #FFF;
    border-radius: 0.625rem;
    /*padding-bottom: 5%;*/
    overflow: hidden;
    margin: 2rem;
}

.blog-item-container {
    width: 85%;
    margin: auto;
}

.blog-item p {
    padding: 0 1.5rem;
    font-size: 1.125rem;
    text-align: start;
}

.blog-item h2 , .blog-item h3{
    text-align: center;
}

.blog-image {
    text-align: center;
    padding: 1rem;
}

.blog-image img {
    width: 100%;
    background-size: cover;
    height: 10rem;
}

.item-container {
    width: 75%;
    margin: auto;
}

.item-container h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 96px;
    margin: 0;
}

pre code {
    background-color: #eee;
    border: 1px solid #999;
    display: block;
    padding: 20px;
}

article li {
    text-align: start;
}

#text {
    justify-content: left;
}

    /* Hoisting */

#hoisting {
    transition: max-height 1.0s ease-out;
}


#hoisting .small {
    width: 60%;
    margin: auto;
}

    /* Closure */

.closure-exp {
    text-align: start;
    
}

    /* Search Bar */
    /* Style the search bar */

#search-container {
    width:100%;
    text-align: center;
}

#searchInput {
    height: 2rem;
    width: 25%;
    margin: 0.75rem;
}

/* Theme Toggle Switch Styles */
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: block; /* If this is inline-block like other headers, display spot is wrong*/
    width: 60px;
    height: 34px;
    bottom: 0;
}
    
    /* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

    /* The slider */
#slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    transition: .4s;
    }

    /* Generates square that slides */
#slider::before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #578CA9;
    transition: .4s;
}

input:checked + #slider {
    background-color: #FFF;
}

input:focus + #slider {
    box-shadow: 0 0 1px #000000;
}

input:checked + #slider::before {
    transform: translateX(26px);
}


