/* Tablet Styling */

@media only screen and (max-device-width: 768px) {

    .game-container, .container-2 {
        display: none;
    }

    .about-me-container {
        display: block;
    }

    .about-me-text {
        margin: auto;
        width:80%;
        padding: 5rem 0;
    }

    .wrapper {
        top: 0;
    }

}
    
    /* Phone Styling */
    
@media only screen and (max-device-width: 425px) {
    #projects {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr;
        gap: 2rem;
        margin: auto;
        width: 75%;    
    }
}

@media only screen and (max-device-width: 320px) {

}


