.title-row {
    margin-top: 2.635rem;
    margin-bottom: 1.3125rem;
}

.instructions-title {
    display: inline;
    font-size: 1.125rem;
}

.instructions-row {
    margin: 0 auto;
    width: 25rem;
}

.instructions-row td {
    text-align: left;
}

.instructions-number {
    padding-right: 1.5625rem;
    font-size: 2.25rem;
}

.instructions-text {
    padding: .625rem;
    font-size: .875rem;
    color: #FFF;
}

.door-frame {
    cursor: pointer;
    padding: 10px;
}

.start-row {
    margin: auto;
    width: 7.5rem;
    height: 2.6875rem;
    background-color: #EB6536;
    padding-top: 1.125rem;
    font-size: 1.125rem;
    color: #010165;
    margin-bottom: 1.3125rem;
    cursor: pointer;
}

#score-tracker {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 2rem;
}

.current-streak > p, .best-streak > p {
    color: #FFF;
    font-weight: bold;
}

.current-streak-box, .best-streak-box {
    background-color: #0FF;
    height: 4.5rem;
    width: 4.25rem;
    text-align: center;
    margin: auto;
}

.current-streak-box > p, .best-streak-box > p {
    color: #000;
    font-size: 3.5rem;
    font-weight: bold;
    margin: 0;
}

#btn {
    line-height: 1rem;
    width: 3rem;
}

.game-container {
    margin: 2rem 0;
    border-bottom: 1px solid #999;
}