<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>oMno's Blog</title>

    <link rel="stylesheet" href="blog-styles.css">
    <link rel="stylesheet" href="../header/header-styles.css">
    <link rel="stylesheet" href="../darkmode/dark-styles.css">
    <link rel="stylesheet" href="blog-media-styles.css">


    <link href="https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">  
    
    <script src="../darkmode/darkmode.js" type="text/javascript" defer></script>
    <script src="blog-script.js" type="text/javascript" defer></script>
    <script src="blog-searchbar.js" type="text/javascript" defer></script>

</head>
<body id="blog">
    <div id="theme" class="light">
        <header class="navigation">
            <nav>
                <a href="../index/index.html" class="logo">Clayton Persinger</a>
            </nav>
            <nav class="nav-items">
                <a href="blog.html">Blog</a>
                <a href="../games/games.html">Games</a>
                <a href="../projects/projects.html">Projects</a>
                <a class="github-logo" href="https://github.com/oMnotopia">Github <img class="icon" src="../../resources/github-logo.png" alt="github logo"></a>
            </nav>
            <nav class="dark-mode-slider">
                <label class="switch switch-left-right">
                    <input id="switch-input" type="checkbox" />
                    <span class="switch-label" data-on="Dark" data-off="Light"></span> 
                    <span class="switch-handle"></span> 
                </label>
            </nav>
        </header>
        <main>
            <div id="search-container">
                <input type="text" id="searchInput" placeholder="Search topics...">
            </div>
            <div id="blog-container">

                <article id="accessabillity" class="blog-item collapsible" attr-small='96px' style='height:96px;'>
                    <div class="item-container">
                        <h2>Accessibillity "a11y"</h2>
                        <p>
                            Accessibility can be best learned by studying the Web Content Accessibility Guidelines (WCAG). The WCAG is 
                            developed by W3C in cooperation with individuals and organizations, with the goal of providing a single shared 
                            standard for web content accessibility that meets the needs of individuals, organizations, and governments 
                            internationally. WCAG 2 has gone through two current iterations and is set to have the third edition released 
                            in 2021, although that looks like it will be pushed to 2022. Each iteration builds upon the previous and no 
                            part changes or replaces and of the previous versions. Accessibility allows for everyone to be able to use a 
                            website and there are many ways developers can make a website accessible. 
                        </p>    
                        <h3>Contrast & Colours</h3>   
                        <p>
                            First, I will talk about contrast and colours. Users with 
                            visual disabilities, must be able to perceive the content on a web page, and the 
                            contrast defines how easily it is to tell one colour from another. The contrast ratio 
                            is a range between 1:1 (white on white) to 21:1 (black on white). For example:
                        </p>
                        <ul>
                            <li>Yellow (#FFFF00) has a contrast of <b id='yellow'>1.07:1</b> on this background. <span style="color:#FFFF00">This is yellow</span> </li>
                            <li>Green (#00FF00) has a contrast of <b id='green'>1.37:1</b> on this background. <span style="color:#00FF00">This is green</span> </li>
                            <li>Pink (#FF80FF) has a contrast of <b id='pink'>2.14:1</b> on this background. <span style="color:#FF80FF">This is pink</span> </li>
                            <li>Blue (#0000FF) has a contrast of <b id='blue'>8.59:1</b> on this background. <span style="color:#0000FF">This is blue</span> </li>   
                        </ul>
                        <p>
                            For a contrast ratio to pass the standards set by the WCAG, it must achieve one of two 
                            levels. The minimum level, AA, must meet these requirements:
                        </p> 
                        <ul>
                            <li>A contrast ratio of 4.5:1 for text and images of text, except for:</li>
                            <ul>
                                <li>Large text of at least 18 point or 14 point bold only need to have a ratio 
                                    of 3:1.</li>
                            </ul>
                        </ul> 
                        <p>
                            The enhanced level, AAA, must meet the following requirements:    
                        </p>   
                        <ul>
                            <li>A contrast ratio of 7:1 for text and images of text, except for:</li>
                            <ul>
                                <li>Large text of at least 18 point or 14 point bold only need to have a ratio 
                                    of 4.5:1.
                                </li>
                            </ul>
                        </ul> 
                        <p>
                            Some important things to note is that the outline or halo of text can impact the perceived 
                            contrast. For outlines, the outline colour may be used as the background colour. In the case 
                            of a halo/glow, it may be used as the background colour. Another thing to note 
                            is that there are three exceptions to the 4.5:1 ratio minimum:
                        </p>     
                        <ul>
                            <li>Large text which is text 18pt and above or 14pt bold and above.</li>
                            <li>Incidental text, which has four criteria:</li>
                            <ul>
                                <li><b>Inactive</b>: An inactive element, a disabled submit button, which is indicated 
                                    by its lower contrast state.

                                </li>
                                <li><b>Pure Decoration</b>: Decorative text that is not meant to be read by a user.</li>
                                <li><b>Not Visible to Anyone</b>: Text that is meant to be hidden, such as an invisible 
                                    skip link. If this link becomes visible it would be required to meet the standards.
                                </li>
                                <li><b>Part of a Image that Contains Significant Other Visual Content</b>: 
                                    Text that is not an important part of the image, such as a name tag on the shirt 
                                    of a person in an image.
                                </li>
                            </ul>
                        </ul>
                        <p>
                            As of WCAG 2.1, contrast requirements have moved beyond text. It now also applies to two 
                            more components on a page. The first is the <b>User Interface Components</b> and the 
                            visual information associated with them. The second is <b>Graphical Objects</b> and 
                            parts of graphics required to understand the content.
                        </p>
                        <p>
                            Finally, WCAG 2 does not prohibit the use of any colour or combination of colours. 
                            But as defined in 1.4.1, a level A requirement prohibits colour alone from being 
                            used to present meaningful content or instructions. A common example of this is in 
                            a sign-up form, where a field is missed it usually highlights in red. Highlighting 
                            the missing field in red with no other indication would not pass the requirement.
                            Using the red highlight plus an indicator such as text below each missing field, 
                            noting is has been missed would be sufficient. An example of where problems can arise 
                            is when two separate columns are indicated only by differing colours, those 
                            colours may appear to be the same to someone with visual disabilities. So, an indicator 
                            such as a text header for each column would be necessary to pass A level requirements.
                        </p>

                        <h3>Focus State(Keyboard Accessability)</h3>
                        <p>
                            The use of a keyboard to interact with a webpage is done for many reasons. 
                            Some users with motor disabilities or blindness need it, but others use it 
                            just out of personal preference. There are a few main ways that bad practices in 
                            programming can affect a users experience on a website using a keyboard, they are:
                            <ul>
                                <li>
                                    <b>Focus Indicators</b> - A user presses the "tab" key to navigate through 
                                    a web page - links, buttons, text input fields, etc. When an item on the 
                                    page has been tabbed to, it gains keyboard "focus" and can then be 
                                    manipulated on the keyboard. A user must be provided with a visual 
                                    indicator of the element that currently has the keyboard focus. All current 
                                    web browsers automatically provide visual indicators. The appearance 
                                    changes from browser to browser but is usually indicated by highlighting 
                                    of the element. To ensure proper visibility more than just highlighting 
                                    should be done, things like proper contrast, background colours, and 
                                    other interactive symbols.
                                </li>
                                <li>
                                    <b>Navigation Order</b> - The order in which interactive items receive focus is 
                                    important to keyboard users because if it is not, it will cause the site to 
                                    be confusing to navigate. This means that the navigation follows the visual 
                                    flow of the page - left to right, top to bottom. In most pages this means
                                    header, main navigation, page navigation, and footer.
                                </li>
                                <li>
                                    <b>Items That Should Not Receive Keyboard Focus</b> - Elements such as links, 
                                    buttons, and form controls are natively accessible to keyboard users, so 
                                    they should be used for interactivity whenever possible. Any page elements 
                                    that are not interactive should not be made keyboard focusable, as it will 
                                    cause confusion. One instance of this arises when the attribute 
                                    tabIndex="0" is used on a div or some other element that has no 
                                    interactivity.
                                </li>
                                <li>
                                    <b>Inaccessible Custom Widgets</b> - When custom widgets are used steps must be 
                                    taken to make that widget accessible. Setting the attribute tabIndex="0" 
                                    on the correct elements and the use of ARIA for screen readers are the main 
                                    way to do so. The ARIA Authoring Practices outlines keyboard interactions 
                                    and ARIA code for most custom widgets. For a widget to be highly
                                </li>
                                <li>
                                    <b>Lengthy Navigation</b> - Users with visual impairments and other disabilities 
                                    must <i>tab</i> or other navigation keys to move through interactive elements on 
                                    a website. If the item they want to interact with is far down the website, it can 
                                    take a lot of unnecessary clicks and time to get there. This can be particularly 
                                    demanding on users with motor disabilities. The following best practices can help 
                                    facilitate efficient keyboard navigation.
                                    <ul>
                                        <li>Provide a "skip to main content" link on the page</li>
                                        <li>Use a proper heading structure.</li>
                                        <li>Provide regions or Aria landmarks (&lt;main&gt;,&lt;nav&gt;, etc).</li>
                                    </ul>
                                </li>
                            </ul>
                        
                        </p>
                        <h3>Using labels</h3>
                        <p>
                            WCAG requires that interactive elements have a label and a name, but the way WCAG defines these 
                            terms are not the way they are commonly used by developers. According to WCAG a label is: 
                        </p>
                        <blockquote>
                            "text or other component with a text alternative that is presented to a user to identify a component within Web content."
                        </blockquote>
                        <p>
                            it defines name as:
                        </p>
                        <blockquote>
                            "text by which software can identify a component within Web content to the user"
                        </blockquote>
                        <p>
                            The difference in these definitions is that label is presented to the user (visually) and name is presented 
                            to the software (assistive technologies). This means that in most instances the label and name should be 
                            the same. However, there are situations where that is not the case. For example, if a website has a search 
                            bar where the user enters a search. The visible label may be "Search", but the accessible name may be 
                            "Search for a value". One issue with have differing labels and names is that users of speech recognition 
                            applications will have a tougher time navigating the site because they will see "Search" but to interact 
                            will need to use "Search for a value". This is also true for people who use screen readers, as the device 
                            will read the label, but interaction will be through the name. In cases were there is an image with visible 
                            text associated to it that is directing a user, or other user interface components, the name must contain 
                            the label. This was added in WCAG 2.1, and simply means the same as above that when there is a label 
                            presented to the user, the name should be the same, but if it isn't the name must contain the label. 
                            WCAG refers to this as "Label in Name" and can be read about in success criterion 2.5.3.
                            
                        </p>
                        <p>
                            In cases were there is an image with visible text associated to it that is directing a user, or other user 
                            interface components, the name must contain the label. This was added in WCAG 2.1, and simply means the same as 
                            above that when there is a label presented to the user, the name should be the same, but if it isn't the name 
                            must contain the label. WCAG refers to this as "Label in Name" and can be read about in success criterion 2.5.3.
                        </p>

                        <h4>Accessible Name Computation</h4>
                        <p>
                            An interactive element can only present a single string as an accessible name, but there can be several places 
                            that name is coming from, &lt;label&gt;, title attribute, placeholder attribute, aria-label, and aria-labelledby. 
                            If aria tags are not being used the order of hierarchy is label, title, placeholder. If aria is being used they 
                            always go to the top of the order with aria-labelledby overriding aria-label. A older misconception that lingers 
                            is that aria labels are appended to other names provided, this is not the case.
                        </p>

                        <h3>Alt Tags</h3>

                        <p>
                            Alternative tags and text serve several purposes:
                            <ul>
                                <li>
                                    Search engines use alternative text and factor it into their assessments of a pages 
                                    content and purpose.
                                </li>
                                <li>
                                    If in an image fails to load or the image is blocked, the alternative text will be 
                                    presented instead.
                                </li>
                                <li>
                                    Screen readers announce alternative text when they get to non-text content, helping users 
                                    navigate and perceive the content.
                                </li>
                            </ul>
                        </p>

                        <h3>Developed Correctly - Markups(semantic html, other), Keyboard Navigation</h3>
                        <h3>ARIA</h3>
                    </div>

                </article>
                
                <article id="hoisting" class="blog-item collapsible" attr-small='96px' style='height:96px;'>
                    <div class="item-container">
                        <h2>Hoisting</h2>
                        <p>
                            Hoisting is Javascript's default behaviour, it means that all declarations are moved to the top of
                            the current scope(current script or function). In some situations hoisting can be useful, but you will 
                            see in the examples below that most of the time hoisting is not 
                            good and can result in errors or unexpected outputs. The simplest way to avoid those 
                            situations is to declare your varables and functions at the top of your javascript programs before 
                            any statements that require or manipulate the information contained within them.
                        </p>
                        <p>
                            Variables that are defined with <i>let</i>, <i>const</i>, or <i>var</i> are hoisted to the top of the scope 
                            but not initialized. This means that the variable exists in the code but cannot be used until it is 
                            declared. <i>Let</i> differs from <i>const</i> in that if you try to use a <i>let</i> before it is declared 
                            you will get a <i style="color:red">ReferenceError</i>, whereas if <i>const</i> is used before it is 
                            declared you will get a syntax error and the code will not run.
                        </p>
                        <figure class="blog-image small">
                            <img src="./resources/blog-hoisting-resources/let-reference_error.PNG" alt="Example of a let reference error">
                            <figcaption>Example of let being used before it is declared, results in a reference error.</figcaption>
                        </figure>
                        <figure class="blog-image small">
                            <img src="./resources/blog-hoisting-resources/const-syntax_error.PNG" alt="Example of a const syntax error">
                            <figcaption>Example of const being used before it is declared, results in a syntax error.</figcaption>
                        </figure>
                        <p>
                            When <i>Var</i> is used, although this should not be done as of ES6, any declarations made below 
                            initializations will be allowed. This means that is var was used in either of the two examples above, 
                            replacing let and const, the code would not return an error and run fine.
                        </p>
                        <p>
                            An example of where hoisting can prevent your code from getting an error is shown below. In this example
                            the variable is initialized at the top of the code but declared at the bottom. 
                            JavaScript hoists the declaration of the variable above the <i>console.log</i> statement. If the 
                            variable was not hoisted an error would be generated. This is an example though and generally not 
                            best practice as declaring and initializing variables at the top of their scope allows for easier 
                            readability of code.
                        </p>
                            <figure class="blog-image">
                                <img src="./resources/blog-hoisting-resources/benefit.PNG" alt="Example of hoisting preventing errors">
                                <figcaption>Example of const being used before it is declared, results in a syntax error.</figcaption>
                            </figure>
                        <p>
                            Another thing to know about how let and const hoisting is that only the declaration of a 
                            variable will be hoisted. If you have an initialization attached the the declaration, the 
                            initialization will not be hoisted and you may run into situations where an error is compiled, or something else.
                            In the two images below, the code is syntactically the same. Both will result in a console log
                            of "undefined". 
                        </p>
                        <figure class="blog-image">
                            <img src="./resources/blog-hoisting-resources/initialization_error-Part1.PNG" alt="Initialization example resulting in error">
                            <figcaption>This code is the same as below and results in a console log of "undefined".</figcaption>
                        </figure>
                        <figure class="blog-image">
                            <img src="./resources/blog-hoisting-resources/initialization_error-Part2.PNG" alt="Initialization example resulting in error">
                            <figcaption>This code is the same as above and results in a console log of "undefined".</figcaption>
                        </figure>
                        <p>
                            The top image of the two above is a good example of hoisting because we would expect to get a 
                            <i style="color:red">ReferenceError</i> since the console is trying to log a variable that 
                            has not yet been declared. The reason we instead get a log of <i>undefined</i> is that the 
                            variable <i>"greatestHockeyPlayer"</i> is hoisted to the top of the program. This is what is being 
                            shown in the bottom image, and writing the code this way produces the same result.
                        </p>
                        <h3>Hoisting & Functions</h3>
                        <p>
                            Hoisting effects more than just variables it also effects functions. In JavaScript all named 
                            functions are hoisted in the same way that variables are. That means if you declare a named 
                            function after you call it, the function will still run as expected because the declaration is 
                            hoisted to the top of its scope. This is shown below.
                        </p>
                        <figure class="blog-image">
                            <img src="./resources/blog-hoisting-resources/named_functions.PNG" alt="Hoisting of a named function">
                            <figcaption>Hoisting of a named function.</figcaption>
                        </figure>
                        <p>
                            If you want your functions to not be hoisted we simply need to make them anonymous and assign 
                            them to a variable. The variable that is assigned to the anonymous function will be hoisted, 
                            but the initialization of the variable into a function is not hoisted. This is shown below.
                        </p>
                        <figure class="blog-image">
                            <img src="./resources/blog-hoisting-resources/unnamed_functions.PNG" alt="Unnamed functions are not hoisted">
                            <figcaption>Unnamed functions are not hoisted.</figcaption>
                        </figure>
                    </div>
                </article>

                <article id="Defer-Async" class="blog-item collapsible"  attr-small='96px' style='height:96px;'>
                    <div class="item-container">
                        <h2>Defer, Async, and Paser-Blocking JavaScript</h2>
                        <p>
                            The attributes <b>"Defer"</b> and <b>"Async"</b> belong to the <i>&lt;script&gt;</i> element. The use of 
                            the attributes changes the way the DOM behaves when loading its contents. The default behaviour 
                            of JavaScript is <b>"Parser-Blocking"</b>, which happens when a browser hits a <i>&lt;script&gt;</i> tag. 
                            The construction of the DOM is paused until the JavaScript runtime has taken control and allowed 
                            the script to execute. Javascript parser-blocking differs from how HTML is parsed which allows for 
                            images and other elements to be loaded while the rest of the content continues to parse. So when a
                            an HTML site encounters the <i>&lt;script&gt;</i> tag it will normally pause, download the JS, and 
                            execute the JS. How this normally happens can be seen in the image below.
                        </p>
                        <figure class="blog-image">
                            <img src="./resources/blog-defer_async_parser-resources/block-parser.PNG" alt="Normal DOM loading">
                            <figcaption></figcaption>
                        </figure>
                        <p>
                            When async is included in a script tag, like so <i>&lt;script src="" async&gt;</i>, it causes the default
                            behaviour of parser-blocking to be disabled and downloads the JS asynchronously to the HTML parsing. 
                            Like the default behaviour, when async finishes downloading the JS it causes the HTML parsing to pause 
                            while the script is executed. Once the script is executed any remaining HTML is parsed. One caveat
                            to using async is that it will execute the JS files in whatever order they finish downloading. This 
                            can be a bad thing if you some of your scripts have dependancies, as it may cause the dependants 
                            to load before the files they depend on. The image below shows the how the JS is downloaded 
                            alongside the HTML being parsed.
                        </p>
                        <figure class="blog-image">
                            <img src="./resources/blog-defer_async_parser-resources/async.PNG" alt="How async effects DOM loading">
                            <figcaption></figcaption>
                        </figure>
                        <p>
                            When defer is included in a script tag, like so <i>&lt;script src="" defer&gt;</i>, its boolean value is
                            set, indicating to a browser that the script meant to be executed after the document has been 
                            fully parsed, but also before the DOMContentLoaded attribute has fired. Defer causes the entire
                            HTML file to be parsed and JS scripts to be downloaded before it executes the JS files. This 
                            means that the HTML parsing does not need to pause, and potentially be delayed due to large JS 
                            files. Using defer also means that all JS files will be executed in the order that they are 
                            added into the HTML code, so if you have files with dependancies simply place those files after 
                            the ones providing code. The image below shows how HTML is fully parsed and JS files downloaded 
                            before they are executed.
                        </p>
                        <figure class="blog-image">
                            <img src="./resources/blog-defer_async_parser-resources/defer.PNG" alt="How defer effects DOM loading">
                            <figcaption></figcaption>
                        </figure>
                        <p>
                            *Note: There is no need to use the defer attribute when loading scripts associated with modules, 
                            this is because modules are deferred automatically. Also, <b>defer</b> and <b>async</b> only have
                            an effect on external scripts, so are only to be used when an src attribute is present.
                        </p>
                    </div>
                </article >

                <article id="bubbling-capturing" class="blog-item collapsible" attr-small='96px' style='height:96px;'>
                    <div class="item-container" >
                        <h2>Bubbling & Capture</h2>
                        <p>
                            Bubbling and capturing is when multiple events are triggered with methods like, <i>"onclick()"</i> or
                            <i>"addEventListener()"</i>, with a single action. A simple example is when a user clicks
                            once on an element that has an associated event listener, that also has a parent element behind 
                            it with an event listener of the same type.
                        </p>
                        <p>
                            Bubbling or Event Bubbling is the same as capturing except for one key difference which is the order in which
                            they propogate through the "Document Object Model" (DOM). Bubbling starts at the most nested event and rises 
                            through the DOM triggering events as it goes. Whereas, capturing start at the highest level event and falls 
                            down the DOM triggering events as it goes.
                        </p>
                        <figure class="blog-image large">
                            <img src="./resources/blog-bubbling_capturing-resources/example-bubbling.png" alt="Bubbling in the DOM">
                            <figcaption>Bubbling and its path through the DOM</figcaption>
                        </figure>
                        <p>
                            The image above shows two events that that are being triggered on a grandparent element &lt;div class="project-item"&gt;
                            and then its grandchild element &lt;a&gt;. Both elements are triggered by the same <i>event</i>, in our case it 
                            is a "click". When the anchor element &lt;a&gt; is clicked the event listener on the anchor will trigger, 
                            but it will also trigger the grandparent element, "project-item". This is what bubbling is, think of it as when
                            a bubble forms below the surface, it rises up through the water until it reaches the top. In this case our bubble 
                            just happens to be triggering all the event listeners on elements above what was clicked. An important detail  to 
                            understand is that if bubbling is set and the div "project-item" is clicked it won't trigger the anchor elements 
                            event listener.
                        </p>
                        <p>
                            Capturing works the same as above except instead of going from the most nested object and rising it starts at the 
                            highest level element and goes down through the elements.
                        </p>
                    </div>
                </article>

                <article id="scope" class="blog-item collapsible" attr-small='96px' style='height:96px;'>
                    <div class="item-container">
                        <h2>Scope(Block/Function)</h2>
                        <p>Scope can be defined in a few ways in Javascript:</p>
                        <ul>
                            <li>Global</li>
                            <li>Function</li>
                            <li>Block</li>
                        </ul>
                        
                        <p>
                            Global scope, is when a variable can be accessed from anywhere else in the program. This means it can be 
                            accessed by calls from inside any function or block. Function scope is applied to variables set inside a 
                            function, very complex stuff. If a variable is set inside of a function a call from the global scope wants 
                            access to it, it won't be able to. This is because scope only passes down, and in Javascript, scope goes 
                            from global-->function-->block. Finally block scope applies to variables that are set in a block (anything 
                            inside of a set of curly braces). Block scope also shows another difference between the old "var" and "let" 
                            and "const". "Var" does not have block scope, but is applied to both "let" and "const". This just means 
                            that a variable declared with var in a block can be called from outside that block whereas, variables 
                            declared with let and const cannot be called from outside the block.
                        </p>
                        <p>
                            When a variable is called that is inside a nested function Javascript will first look in its block scope, if no 
                            value is found, it will then look in the function, or local, scope outside of the block. Again, if no value 
                            is found then Javascript keeps looking at more and more outer scopes until it find the value or reaches the 
                            global scope. In most cases if no value for the variable is found in the global scope then an error will be 
                            returned.
                        </p>
                    </div>
                </article >

                <article id="restAPI" class="blog-item collapsible" attr-small='96px' style='height:96px;'>
                    <div class="item-container">
                        <h2>REST APIs</h2>
                        <p>
                            A <b>RE</b>presentational <b>S</b>tate <b>T</b>ransfer(REST) <b>A</b>pplication 
                            <b>P</b>rogramming <b>I</b>nterface (API), is an API that conforms to a software architectural 
                            style. This architectural style defines a set of constraints not standards and protocols 
                            like an API. In other words APIs can follow <i>REST</i>ful constraints, or not. If they 
                            do then they are able to access web resources that also use those constraints. 
                            If they dont follow the <i>REST</i>ful constraints then they are unable to access web 
                            resources using those constraints.
                        </p>
                        <p>
                            In order for an API to be considered <i>REST</i>ful, it must conform to six main 
                            constraints:
                            <ul>
                                <li>Client-Server Architechture</li>
                                <li>Statelessness</li>
                                <li>cacheability</li>
                                <li>Layered System</li>
                                <li>Code on Demand (optional)</li>
                                <li>Uniform Interface</li>
                            </ul>
                        </p>
                        <p><b>Client-Server Architechture</b> is necessary for seperation of concerns, which in our 
                        case is the seperation of frontend and backend concerns. Seperation allows for seperate 
                        sections of code to operate independantly of other sections, allowing for greater portability, 
                        simplification, scalability, and most importantly independant evolution of components.
                        </p> 
                        <p><b>Statelessness</b>, meaning that no client information is stored between requests, and 
                            each request is seperate and unconnected. This allows for increased performance in high 
                            volume applications, by removing server load caused by holding of session information.
                        </p> 
                        <p><b>Cacheability</b>, meaning responses must implicitly or explicitly define themselves as 
                            cacheable in order to prevent clients from providing inapropirate data in response to 
                            further requests. When caching is done appropriately it can reduce or eliminate some 
                            client-server interactions, which improves scalability and performance.
                        </p> 
                        <p><b>Layered Systems</b> organize each type of server, security, load balancing, and others 
                            that are involved in the retrieval of requested information into heirarchies that are 
                            invisible to the client.
                        </p> 
                        <p><b>Uniform Interface</b> is a fundamental contraint of a RESTful system. It allows for 
                            simpler and more modular architecture which enables each section to evolve independantly. 
                            The four requirements that make up uniform interface are:
                            <ul>
                                <li>Resource Identifcation in Requests - The resources that are being requested are 
                                    identifiable and seperate from the representations sent to the client.
                                </li>
                                <li>Resource Manipulation Through Representations - The client is able to manipulate 
                                    resources via the representation because the representation contains enough 
                                    information to allow the client to do so.</li>
                                <li>Self Descriptive Messages - Each message has enough information describing how 
                                    the message should be processed by the client.
                                </li>
                                <li>Hypermedia As The Engine Of Application State (HATEOAS) - Meaning that once a 
                                    client has accessed a resource, they should be able to use hyperlinks to find 
                                    all other currently available actions.
                                </li>
                            </ul>
                        </p>  
                        <p><b>Code on Demand</b> is the ability to send executable code residing on a server to a 
                            client as requested, in order to extend the clients functionality.
                        </p> 
                    </div>
                </article>
                
                <article id="Closures" class="blog-item collapsible" attr-small='96px' style='height:96px;'>
                    <div class="item-container">
                        <h2>Closures</h2>
                        <p>
                            A closure is a function that will retain access to its parents scope even after the parent function 
                            has closed. This is done by having a parent function return a child function. The eaxmple below 
                            shows a simple case of a closure.
                        </p>
                        <pre>
                            <code class="closure-exp">
                                const parentFunction = () => {
                                    let num = 99;
                                    const childFunction = () => {
                                        console.log(`The number of the greatest hockey player is ${num}`)
                                    }
                                    return childFunction
                                }
                                const resultOfParentFunction = parentFunction()
                                console.log(resultOfParentFunction) 
                                //() => {
                                //    console.log(`The number of the greatest hockey player is ${num}`)
                                //}
                                resultOfParentFunction() //The number of the greatest hockey player is 99
                            </code>
                        </pre>
                        <p>
                            The above example first initializes parentFunction, and inside sets a variable "num". Then childFunction 
                            is initialized and set as the return value of parent function. As a side note, notice how childFunction 
                            is not returned as a call, childFunction(), but instead just the variable is returned. Next, the result 
                            of calling parentFunction is stored in resultOfParentFunction, and that is logged. What will be shown in 
                            console is shown below in comments. Next, resultOfParentFunction is called, and since its body contains 
                            a console.log, "The number of the greatest hockey player is 99" is printed.
                        </p>
                        <p>
                            The above example also shows a great way of achieving private variables as the only way to access the 
                            variable num is through calling resultOfParentFunction.
                        </p>
                        <p>
            
                        </p>
                        <p>Great References:</p>
                        <ul>
                            <li><a href="https://www.youtube.com/watch?v=1S8SBDhA7HA">Dave Gray's Youtube Channel</a></li>
                            <li><a href="https://medium.com/@prashantramnyc/javascript-closures-simplified-d0d23fa06ba4">Prashant Ram's Medium Article</a></li>
                            
                        </ul>
                    </div>    
                </article>
                
                <article id="Currying" class="blog-item collapsible" attr-small='96px' style='height:96px;'>
                    <div class="item-container">
                        <h2>Currying</h2>
                        <p>Curring is the action of making a function that normally accepts many parameters into one that only accepts 
                            a single parameter at a time while still being able to use multiple parameters. The easiest way to see this 
                            is through a mathematical expression:

                                x = f(a, b, c) --> x =f(a)(b)(c)

                            In programming terms this can be shown as :

                                const curriedFunction = (a, b, c) => {...} --> const curriedFunction = a => b => c => {...}

                                curriedFunction(a, b, c) --> curriedFunction(a)(b)(c)
                            
                            In the function definition, it shows that each time it is called it returns a new function that expects the 
                            next argument inline. When curriedFunction(a) is called, the return value is a partially applied function. 

                        </p>
                    </div>    
                </article>
                
                <article id="Callback-Functions-Promises-Async-Await" class="blog-item collapsible" attr-small='96px' style='height:96px;'>
                    <div class="item-container">
                        <h2>Callback Functions/Promises/Async-Await</h2>
                        <h3>No work done</h3>
                    </div>
                </article>
                
                <article id="Nullish-Coalescing" class="blog-item collapsible" attr-small='96px' style='height:96px;'>
                    <div class="item-container">
                        <h2>Nullish Coalescing</h2>
                        <h3>No work done</h3>
                    </div>
                </article>
                
                <article id="Responsive-Websites" class="blog-item collapsible" attr-small='96px' style='height:96px;'>
                    <div class="item-container">
                        <h2>Responsive Websites</h2>
                        <h3>No work done</h3>
                    </div>
                </article>
                
               
                
                <article id="Psuedo-Elements-CSS" class="blog-item collapsible" attr-small='96px' style='height:96px;'>
                    <div class="item-container">
                        <h2>CSS Psuedo Elements</h2>
                        <h3>No work done</h3>
                    </div>    
                </article>
                
                <article id="OOP" class="blog-item collapsible" attr-small='96px' style='height:96px;'>
                    <div class="item-container">
                        <h2>Object Oriented Programming</h2>
                        <h3>No work done</h3>
                    </div>    
                </article>
                
                <article id="EDP" class="blog-item collapsible" attr-small='96px' style='height:96px;'>
                    <div class="item-container">
                        <h2>Event-Driven Programming</h2>
                        <h3>No work done</h3>
                    </div>    
                </article>
                
                <article id="RegEx" class="blog-item collapsible" attr-small='96px' style='height:96px;'>
                    <div class="item-container">
                        <h2>Regular Expressions (RegEx's)</h2>
                        <h3>No work done</h3>
                    </div>    
                </article>
            
            </div>    
        </main>
    </div>  
</body>
</html>